.fielder-field {
	$this: #{&};

	&--toggle {
		& #{$this}__input {
			display: none !important;

			& ~ label {
				position: relative;
				user-select: none;
				padding: 0.25em 2em;
				margin-right: 0.5em;

				&:before,
				&:after {
					content: " ";
					height: 100%;
					position: absolute;
					border-radius: 25px;
				}

				&:before {
					top: 0; left: 0;
					width: 100%;
					background: #ddd;
					box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.16);
				}

				&:after {
					top: 50%; left: 0;
					width: 1.75em;
					height: 1.75em;
					border-radius: 50%;
					background: #fff;
					border: 1px solid #fff;
					transform: translateY(-50%);

					box-shadow: 0 1px 6px 0px rgba(140, 140, 140, 0.66);
					transition: left 150ms ease-out;
				}
			}

			&:checked {
				& ~ label {
					&:before {
						background: #00b9eb;
					}

					&:after {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
}
